@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --primary-100: #f59e0b;
      --primary-50: #fef1da;
      --primary-10: #fffaf2;
      --base-100: #ffffff;
      --base-150: #f9fafb;
      --base-200: #94a3b8;
      --base-300: #000;
      scroll-behaviour: smooth;
  }
  body {
    @apply font-poppins
  }
  p {
    @apply text-base-200 text-[0.9rem];
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-3xl lg:text-4xl;
  }
  h2 {
    @apply text-xl md:text-2xl;
  }
}

@layer utilities{
  .container {
    @apply px-4 mx-auto lg:px-[45px] xl:px-[5rem] 2xl:px-[13rem];
  }
}
